/* Dialogs */

div.sscdialog {
    font-family: sans,sans-serif; font-size: 150%;
    border-radius: 1ex; -webkit-border-radius: 1ex;
    -moz-border-radius: 1ex; -o-border-radius: 1ex;
    position: fixed; top: auto; bottom: auto; left: auto; right: auto;
    background-color: rgba(0,0,0,0.8); color: ivory;
    padding: 0.5ex; padding-bottom: 1em;
    text-align: center;}

div.sscdialog h1 {
    font-size: 150%; margin-bottom: 1ex; margin-top: 0.5ex;}

div.sscdialog .button.keep {float: left; color: green;}
div.sscdialog .button.close {float: right; color: red;}
div.sscdialog.keep .button.keep {visibility: hidden;}

div.sscdialog .button.close, div.sscdialog button.close,
div.sscdialog button[VALUE='CLOSE'] {
    color: red;}

div.sscdialog p.sschelp {
    text-align: left; font-size: 70%; margin-top: 1ex;
    margin-left: 10%; text-indent: -5%; margin-right: 5%;
    width: 85%;}
div.sscdialog p.sschelp tt, div.sscdialog p.sschelp kbd {
    font-size: 120%;}

/* Edit styling */

div.sscdialog > input[TYPE="TEXT"],  div.sscdialog select,
div.sscdialog textarea, div.sscdialog div.buttons,
div.sscdialog div.row {
    width:  90%; margin-left: 5%; margin-right: 5%;
    display: block; clear: both;}
div.sscdialog div.buttons select { width: auto; clear: none;}
div.sscdialog table { width: 100%; clear: both; color: ivory;}
div.sscdialog table th, div.sscdialog table td { vertical-align: top;}
div.sscdialog table th { text-align: right;}
div.sscdialog table td { text-align: left;}
div.sscdialog table input[TYPE="TEXT"] { width: 90%;}
div.sscdialog table th input[TYPE="TEXT"] { text-align: right;}
div.sscdialog table td input[TYPE="TEXT"] { text-align: left;}

div.sscdialog div.buttons { text-align: center; }
div.sscdialog textarea { text-align: left; }
div.sscdialog div.buttons button, div.sscdialog div.buttons .button {
    margin-left: 1ex; margin-right: 1ex;}

@media (max-width: 700px) {
    div.sscdialog table th { display: none;}
    div.sscdialog table td { font-size: 80%:}
}
