div.sscdialog div.sscsignature input[TYPE="TEXT"] {
    font-size: 0.75em; width: 100%;}

div.sscdialog div.row {
    font-size: 150%; height: 1.2em;}
div.sscdialog div.buttons {
    font-size: 150%; }

/* Edit element */

div.ssceditelement, div.ssceditcontent {
    right: 10%; top: 20%; left: auto; max-height: 60%;
    padding-bottom: 1em;}
div.ssceditelement {
    min-width: 15em; max-width: 75%;}
div.ssceditelement .button.image, div.ssceditelement button.image {
    width: 1em; height: 1em; float: right;}

div.ssceditelement div.sscsignature {
    margin-right: 2.2em; clear: left; width: auto;}

div.ssceditelement .button.contract, div.ssceditelement button.contract {
    display: none;}

div.ssceditelement div.buttons {
    text-align: right; padding-bottom: 1ex;}
div.ssceditelement div.buttons button {
    font-size: 16px;
    margin-left: 0.5ex; margin-right: 0px;
    margin-bottom: 0.5ex;
    float: right;}

div.ssceditelement span.sscdomnav {
    float: left; width: auto; white-space: nowrap;
    vertical-align: middle;
    font-size: 50%;}
div.ssceditelement span.sscdomnav select.sscrelated {
    font-size: 75%; max-width: 15em;
    display: inline; vertical-align: middle;}

div.ssceditelement table.sscattribs {
    margin-top: 0.25ex;
    display: none;}
div.ssceditelement.ssceditattribs table.sscattribs {
    display: table;}

div.ssceditelement table.sscattribs th {
    font-size: 20px; vertical-align: baseline;
    width: 25%;}
div.ssceditelement table.sscattribs td {
    padding-left: 1ex; vertical-align: baseline;}
div.ssceditelement table.sscattribs input[TYPE="TEXT"] {
    font-size: 16px; width: 100%;}

/* Expansion rules */

div.ssceditelement.sscexpanded .button.contract,
div.ssceditelement.sscexpanded button.contract {
    display: inline-block;}
div.ssceditelement.sscexpanded .button.expand,
div.ssceditelement.sscexpanded button.expand {
    display: none;}

/* Edit content */

div.ssceditcontent { width: 75%;}
div.ssceditcontent div.title {
    text-align: left; margin-right: 2em;}
div.ssceditcontent .button.image, div.ssceditcontent button.image {
    width: 1em; height: 1em; float: right;}

div.ssceditcontent textarea { height: 7em; font-size: 16px;}

div.ssceditcontent div.buttons { text-align: left;}
div.ssceditcontent div.buttons button,
div.ssceditcontent div.buttons .button {
    font-size: 24px; margin-right: 0px; float: right;}

/* Reclass dialog */

div.sscreclass {
    min-width: 20em; max-width: 80%;
    right: 10%; top: 15%;}
div.sscreclass div.title {
    text-align: left; margin-right: 2em;}
div.sscreclass .button.image, div.sscreclass button.image {
    width: 1em; height: 1em; float: right;}
div.sscdialog.sscreclass div.buttons {
    text-align: left;}
div.sscdialog.sscreclass div.buttons .button,
div.sscdialog.sscreclass div.buttons button {
    float: right;}
div.sscdialog.sscreclass div.buttons p {
    font-size: 50%; margin-top: 1ex;
    margin-left: 3em; text-indent: -2em;}
div.sscdialog.sscreclass div.buttons p tt {
    font-weight: bold; font-size: 120%;}

div.sscdialog.sscreclass th, div.sscdialog.sscreclass td {
    font-size: 24px;}
div.sscdialog.sscreclass table input[type='TEXT'] {
    font-size: 24px;}
div.sscdialog.sscreclass table th {
    padding-right: 1ex; vertical-align: bottom; width: 7em;}

/* Editing text selections */

div.ssctextedit {
    min-width: 70%; max-width: 80%;
    height: auto; width: auto;
    right: 5%; top: 15%; 
    resize: both;}
div.ssctextedit.sscbigtext {
    height: 50%; width: 70%;
    font-size: 150%;}

div.ssctextedit div.sscselection { margin-right: 3.5em;}
div.ssctextedit div.sscselection { text-align: left; }
div.ssctextedit div.sscselection input[TYPE='TEXT'] {
    font-size: 40%; width: 100%;}

div.ssctextedit div.toprow { min-height: 1.2em;}

div.ssctextedit input[TYPE="TEXT"] { font-size: 50%;}
div.sscdialog.ssctextedit textarea {
    height: 90%; width: 100%; font-size: 16px;
    min-height: 2em; resize: both; clear: none;}
div.sscdialog.ssctextedit.sscbigedit textarea { min-height: 7em;}
div.sscdialog.ssctextedit { padding-bottom: 1ex;}
div.ssctextedit .button, div.ssctextedit button {
    margin-top: 0px; margin-left: 0.25ex;
    float: right; vertical-align: top;
    padding-top: 0px;}
div.ssctextedit .button.image, div.ssctextedit button.image {
    width: 1em; height: 1em;}

div.ssctextedit .ssctextwrap { display: none;}
div.ssctextedit.sscwrap .ssctextwrap {
    display: block; margin-right: 3.5em;}

div.ssctextedit.sscwrap div.sscselection,
div.ssctextedit.sscbigtext div.sscselection {
    margin-top: 1ex; margin-right: 0px; clear: both;}

div.ssctextedit.sscwrap .row.row1 { height: auto; }
div.ssctextedit.sscwrap input[TYPE="TEXT"] { width: 98%; }
    
div.ssctextedit button.merge { display: none;}
div.ssctextedit.sschtml button.merge { display: inline;}
div.ssctextedit div.ssctextwrap {
    margin-right: 5em;
    clear: left;}
div.ssctextedit div.ssctextwrap input[TYPE='TEXT'] { width: 100%; }
div.ssctextedit div.sscsignature {
    margin-right: 4.5em; clear: left;}
div.ssctextedit div.ssctextinput input[TYPE='TEXT'] { width: 100%; }
div.ssctextedit div.sscwrapspec, div.ssctextedit div.sscmergespec {
    display: none;}
div.ssctextedit.sscwrap div.sscwrapspec {display: block;}
div.ssctextedit.sscmerge div.sscmergespec {display: block;}

div.ssctextedit.sscwrap div.ssctextinput {
    clear: both; margin-right: 0px; width: 100%;}

/* Save dialog */

div.sscsavedialog {
    top: 25%; bottom: 25%; height: 50%;
    left: 15%; right: 15%; width: 70%:}
div.sscsavedialog h1 {}
div.sscsavedialog button { font-size: 100%;}
div.sscsavedialog table {
    margin-left: 2%; margin-right: 8%; width: 90%;
    margin-bottom: 1em;}
div.sscsavedialog table th {
    font-size: 120%; text-align: right;}
div.sscsavedialog table td {
    text-align: left;
    padding-left: 1ex;
    line-height: 120%;}
div.sscsavedialog table td tt { font-size: 75%;}
div.sscsavedialog table td textarea {
    font-size: 16px; min-height: 8em;}
