/* Generic rules */

img.svg { display: none;}
body.haveSVG img.svg { display: inline;}
body.haveSVG img.notsvg { display: none;}

/* Make spans more visible */

body.cxSSC span:hover {text-decoration: overline;}
body.cxSSC .sscapp span:hover {text-decoration: inherit;}

/* Selective display of selected elements */

body.cxSSC *, body.cxSSC > * {opacity: 0.50 !important;}
body.cxSSC > .sscWRAPPER { opacity: 1.0 !important; }
body.cxSSC .sscWRAPPER > * { opacity: 0.50 !important;}
body.cxSSC .sscWRAPPER > .sscWRAPPER,
body.cxSSC .sscWRAPPER > .sscSELECTED { opacity: 1.0 !important;}
body.cxSSC .sscSELECTED * {opacity: 1.0 !important;}

body.cxSSC .sscSELECTED.sscFOCUS {
  background-color: rgba(255,255,0,0.25) !important;}

body.cxSSC .sscapp {
    font-family: sans,sans-serif;}

/* Exempt app elements themselves from the highlighting rules */

body.cxSSC .sscapp { opacity: 0.9 !important;}
body.cxSSC .sscapp * { opacity: 1.0 !important;}
body.cxSSC.cxSSCREDUCED .sscapp {font-size: 100%; !important;}
body.cxSSC.cxSSCREDUCED .sscapp * {font-size: 100%; !important;}

body.cxSSC.cxSSCOMPACT div.sscapp p,
body.cxSSC.cxSSCOMPACT div.sscapp div, 
body.cxSSC.cxSSCOMPACT div.sscapp blockquote, 
body.cxSSC.cxSSCOMPACT div.sscapp section, 
body.cxSSC.cxSSCOMPACT div.sscapp aside,
body.cxSSC.cxSSCOMPACT div.sscapp h1, 
body.cxSSC.cxSSCOMPACT div.sscapp h2, 
body.cxSSC.cxSSCOMPACT div.sscapp h3, 
body.cxSSC.cxSSCOMPACT div.sscapp h4, 
body.cxSSC.cxSSCOMPACT div.sscapp h5,
body.cxSSC.cxSSCOMPACT div.sscapp h6, 
body.cxSSC.cxSSCOMPACT div.sscapp h7 {
    display: block;}

/* The toolbar */

div.ssctoolbar {}
div#SSCTOOLBAR {
    position: fixed;
    font-family: sans,sans-serif;
    transition-property: top; transition-duration: 1s;
    top: -40px; left: 0px; right: 0px; width: 100%; height: 1.5em;
    background-color: rgba(0,0,0,0.8); color: ivory;
    font-size: 20px; padding-left: 0.5ex;
    border-bottom: solid purple 0.2em;
    text-align: left;}
div#SSCTOOLBAR { opacity: 0.85 !important; }

div#SSCTAPZONE {
    position: fixed; top: 0px; left: 0px; right: 0px; height: 2em;
    opacity: 0.0;}

div.ssctoolbar img { max-height: 100%; width: auto;}

div.ssctoolbar div.combobox {
    width: 10em; height: 1em; overflow: visible; display: inline-block;
    text-align: left; margin-left: 0.25em;}
div.ssctoolbar div.combobox input[TYPE="TEXT"],
div.ssctoolbar div.combobox select {
    width: 96%; clear: left;}
div.ssctoolbar div.combobox select {
    overflow: auto;
    display: none;}
div.ssctoolbar.focused div.combobox select { display: block;}
div.ssctoolbar div.combobox select:focus { display: block;}

div#SSCTOOLBAR #SSCTOOLBARBUTTONS { float: right; padding-right: 1ex;}
div#SSCTOOLBAR input[TYPE="TEXT"] {
    padding-left: 0.5ex; text-align: left; font-size: 90%;}
div#SSCTOOLBAR button, div#SSCTOOLBAR .button { max-height: 100%;} 
div#SSCTOOLBAR button img, div#SSCTOOLBAR .button img {
    background-color: transparent;
    height: 100%; width: auto;}
div#SSCTOOLBAR button.left { float: left;}
div#SSCTOOLBAR button.right { float: right;}
div#SSCTOOLBAR button.hide, div#SSCTOOLBAR .button.hide {
    font-weight: bold; color: red;}
div#SSCTOOLBAR button.showrules, div#SSCTOOLBAR .button.showrules {}

body.sscTOOLBAR div#SSCTOOLBAR { top: 0px;}
body.sscTOOLBAR div#SSCTAPZONE { display: none; }

div#SSCTOOLBAR div#sscstyleinfo {
    position: absolute; top: 1.7em; 
    background-color: inherit; padding: 1em;
    /* left: 10em; max-width: 50%; */
    left: 10%; max-width: 80%;
    display: none;}
div#SSCTOOLBAR.showstyle div#sscstyleinfo { display: block;}

div#SSCTOOLBAR .styleinfo p {
    margin-left: 1em; text-indent: -1em;}
div#SSCTOOLBAR .styleinfo p span.prop { white-space: nowrap; }

div#SSCTOOLBAR #SSCMATCHPHRASE { white-space: nowrap;}

/* Buttons */

.sscapp .button img, .sscapp button img {
    height: 90%; width: auto; vertical-align: top;}

.sscapp .button, div.sscapp button {
    padding: 2px; padding-right: 1ex; padding-left: 1ex;
    border-radius: 1ex; margin-left: 1ex; margin-top: 2px;
    background-color: silver;
    font-weight: bold;
    cursor: pointer;}
.sscapp img.button, div.sscapp .button.image, div.sscapp button.image {
    max-height: 2em; width: auto;
    padding-right: 2px; padding-left: 2px;
    background-color: transparent;}

