body.cxSSC *, body.cxSSC > * {opacity: 0.25 !important;}
body.cxSSC > .sscWRAPPER { opacity: 1.0 !important; }
body.cxSSC .sscWRAPPER > * { opacity: 0.25 !important;}
body.cxSSC .sscWRAPPER > .sscWRAPPER,
body.cxSSC .sscWRAPPER > .sscSELECTED { opacity: 1.0 !important;}
body.cxSSC .sscSELECTED * {opacity: 1.0 !important;}

body.cxSSC .sscSELECTED.sscFOCUS {
  background-color: rgba(255,0,0,0.25) !important;}

/* Compact display rules */
/* Compact mode hides everything that isn't selected */

body.cxSSC.cxSSCOMPACT p,
body.cxSSC.cxSSCOMPACT div, 
body.cxSSC.cxSSCOMPACT blockquote, 
body.cxSSC.cxSSCOMPACT section, 
body.cxSSC.cxSSCOMPACT aside,
body.cxSSC.cxSSCOMPACT h1, 
body.cxSSC.cxSSCOMPACT h2, 
body.cxSSC.cxSSCOMPACT h3, 
body.cxSSC.cxSSCOMPACT h4, 
body.cxSSC.cxSSCOMPACT h5,
body.cxSSC.cxSSCOMPACT h6, 
body.cxSSC.cxSSCOMPACT h7 {
    display: none;}

body.cxSSC.cxSSCOMPACT .sscWRAPPER,
body.cxSSC.cxSSCOMPACT .sscSELECTED {
    display: block;}
body.cxSSC.cxSSCOMPACT .sscWRAPPER > * {
    display: none;}
body.cxSSC.cxSSCOMPACT .sscWRAPPER > .sscWRAPPER,
body.cxSSC.cxSSCOMPACT .sscWRAPPER > .sscSELECTED {
    display: block;}
body.cxSSC.cxSSCOMPACT .sscSELECTED p,
body.cxSSC.cxSSCOMPACT .sscSELECTED div, 
body.cxSSC.cxSSCOMPACT .sscSELECTED blockquote, 
body.cxSSC.cxSSCOMPACT .sscSELECTED section, 
body.cxSSC.cxSSCOMPACT .sscSELECTED aside,
body.cxSSC.cxSSCOMPACT .sscSELECTED h1, 
body.cxSSC.cxSSCOMPACT .sscSELECTED h2, 
body.cxSSC.cxSSCOMPACT .sscSELECTED h3, 
body.cxSSC.cxSSCOMPACT .sscSELECTED h4, 
body.cxSSC.cxSSCOMPACT .sscSELECTED h5,
body.cxSSC.cxSSCOMPACT .sscSELECTED h6, 
body.cxSSC.cxSSCOMPACT .sscSELECTED h7 {
    display: block;}

/* Reduced display rules */
/* Reduced mode shrinks the font size of everything that isn't selected */

body.cxSSC.cxSSCREDUCED * {
    font-size: 33%;}
body.cxSSC.cxSSCREDUCED img {
    width: 25em; height: auto;}

body.cxSSC.cxSSCREDUCED .sscWRAPPER,
body.cxSSC.cxSSCREDUCED .sscSELECTED {
    font-size: 100%;}
body.cxSSC.cxSSCREDUCED .sscWRAPPER > * {
    font-size: 33%;}
body.cxSSC.cxSSCREDUCED .sscWRAPPER > .sscWRAPPER,
body.cxSSC.cxSSCREDUCED .sscWRAPPER > .sscSELECTED {
    font-size: 100%;}
body.cxSSC.cxSSCREDUCED .sscSELECTED {
    font-size: 100%;}

/* Exempt app elements from highlighting rules */

body.cxSSC .sscapp { opacity: 0.9 !important;}
body.cxSSC .sscapp * { opacity: 1.0 !important;}
body.cxSSC.cxSSCREDUCED .sscapp {font-size: 100%; !important;}
body.cxSSC.cxSSCREDUCED .sscapp * {font-size: 100%; !important;}

body.cxSSC.cxSSCOMPACT div.sscapp p,
body.cxSSC.cxSSCOMPACT div.sscapp div, 
body.cxSSC.cxSSCOMPACT div.sscapp blockquote, 
body.cxSSC.cxSSCOMPACT div.sscapp section, 
body.cxSSC.cxSSCOMPACT div.sscapp aside,
body.cxSSC.cxSSCOMPACT div.sscapp h1, 
body.cxSSC.cxSSCOMPACT div.sscapp h2, 
body.cxSSC.cxSSCOMPACT div.sscapp h3, 
body.cxSSC.cxSSCOMPACT div.sscapp h4, 
body.cxSSC.cxSSCOMPACT div.sscapp h5,
body.cxSSC.cxSSCOMPACT div.sscapp h6, 
body.cxSSC.cxSSCOMPACT div.sscapp h7 {
    display: block;}

#SSCINPUT, #SSCREPLACE {
    position: fixed; top: 0px;
    text-align: left; font-size: 20px;
    background-color: rgb(0,0,0,0.5); color: black;
    opacity: 0.5;}
#SSCINPUT {left: 0px;}
#SSCREPLACE {right: 0px;}
body.cxSSC #SSCINPUT.sscapp { opacity: 0.3 !important;}
body.cxSSC #SSCINPUT.sscapp:focus {width: 40%;}
body.cxSSC #SSCINPUT.sscapp:focus { opacity: 0.8 !important;}

div.sscapp div.button {
    font-size: 50%; font-weight: bold;
    padding: 2px; padding-right: 1ex; padding-left: 1ex;
    background-color: silver;
    border-radius: 1ex;
    cursor: pointer;}

div.sscdialog {
    border-radius: 1em; -webkit-border-radius: 1em;
    -moz-border-radius: 1em; -o-border-radius: 1em;
    position: fixed; top: 10%; left: 20%; right: 20%; width: 60%;
    transition-property: opacity: transition-duration: 5s;
    background-color: rgba(0,0,0,0.8); color: white;
    text-align: center;
    font-family: sans,sans-serif; font-size: 200%;
    padding: 1ex; padding-bottom: 2em;}
div.sscdialog div.button.keep {float: left; color: green;}
div.sscdialog div.button.close {float: right; color: red;}
div.sscdialog.keep div.button.keep {visibility: hidden;}

div.sscdialog div.clicktodismiss {
    position: absolute; bottom: 0px;
    text-align: center; width: 80%; left: 10%; right: 10%;
    font-size: 50%; color: yellow;
    padding-bottom: 0.5ex;}

div.sscdialog p.sschelp {
    text-align: left; font-size: 70%; margin-top: 1em;
    margin-left: 10%; text-indent: -5%; margin-right: 5%;
    width: 85%;}
div.sscdialog p.sschelp tt, div.sscdialog p.sschelp kbd {
    font-size: 120%;}

/* The cloud */

div#SSCSELECTORCLOUD {
    border-radius: 1em; -webkit-border-radius: 1em;
    -moz-border-radius: 1em; -o-border-radius: 1em;
    position: fixed;
    top: 10%; bottom: 10%; left: 10%; right: 20%; width: 80%;
    background-color: rgba(0,0,0,0.8); color: white;
    text-align: center;
    font-family: sans,sans-serif; font-size: 200%;
    padding: 1ex; padding-bottom: 2em;
    display: none;}
body.sscSHOWCLOUD div#SSCSELECTORCLOUD { display: block; }

div#SSCSELECTORCLOUD div.links a {
    padding-left: 1ex; padding-right: 1ex;
    white-space: nowrap; text-decoration: none;
    color: white;}
div#SSCSELECTORCLOUD div.links a:visited {color: white;}
div#SSCSELECTORCLOUD div.links a:hover {
    text-decoration: underline;}
div#SSCSELECTORCLOUD div.button.close {float: right; color: red;}

